.card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  p {
    font-size: 0.95rem;
    color: 617185;
  }
}